.cart {
  position: absolute;
  background-color: white;
  border-radius: 6px;
  width: 250px;
  left: -30px;
  font-size: 16px;
  box-shadow: 3px 4px 6px 6px #888888;
}

.cart__header {
  font-weight: 700;
  border-bottom: 1px solid black;
}

.cart__header,
.cart__empty {
  padding: 0.5em 1em;
  font-size: 14px;
}

.cart__empty {
  text-align: center;
  color: #888888;
}

.cart__product {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 1em 0.5em;
}

.cart__product__name,
.cart__product__price span {
  font-size: 14px;
}

.cart__image {
  width: 48px;
  height: 32px;
  border-radius: 6px;
}

.cart__product__total {
  margin-inline-start: 1em;
  font-weight: 700;
}
